html {
  margin: 0px;
  border: 0px;
  padding: 0px;
  /*background: url("/static/img/bg.jpg");*/
  background: url("/static/img/villager.png ");
  background-color: #000000;
  background-attachment: fixed;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  z-index: 1;
}

@keyframes curtain {
  0% {background-color: rgba(0,0,0,1)}
  50% {background-color: rgba(0,0,0,0.50)}
  100% {background-color: rgba(0,0,0,0); display: none; z-index: -1000;}
}

#contentCurtain {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  animation-name: curtain;
  animation-duration: 3s;
}

#curtain {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0,0,0,1);
  z-index: 100;
}

body {
  top: auto;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-color: rgba(25,25,25,0.25);
  background-attachment: fixed;
}

#ribbon {
  display: none;
  height: 1.5em;
  background-color: rgb(255, 0, 0);;
  color: white;
  text-align: center;
}

#header {
  padding: 2em 0em 1em 0em;
  margin: 0 auto;
  width: 100%;
  height: 5em;
  background: rgba(0, 0, 0, 0.75);
}

#headerContents {
  min-width: 5em;
  max-width: 50em;
  margin: 0 auto;
}

#logoBox {
  float: left;
  margin: 0 0 0 0;
  width: 5em;
  height: 5em;
}

#logo {
  background: #000;
  width: 1em;
  height: 1em;
  margin: auto auto auto auto;
  border-radius: 50%;
  animation-name: logo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#titleBox {
  float: left;
  vertical-align: top;
  color: #D7B766;
  margin: 0;
  min-width: 5em;
  max-width: 50em;
  height: 5em;
}

.subtitle {
  padding: 0.3em 0.3em 0.3em 0.3em;
}

#content {
  color: #475E66;
  margin: 0 auto;
  min-width: 5em;
  max-width: 50em;
  padding: 1em 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.1em;
}

@keyframes logo {
  0% {
    background: #D7B766;
    width: 50px;
    height: 50px;
  }
  50% {
    background: #BA860E;
    width: 25px;
    height: 25px;
  }
  100% {
    background: #D7B766;
    width: 50px;
    height: 50px;
   }
}
