<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/js/index.js"></script>
    <link rel="stylesheet" href="/static/css/index.css"></link>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
  </head>
  <body>
    <div id="curtain"></div>
    <div id="ribbon">
      Warning: Rabbit smells bad.
    </div>
    <div id="header">
      <div id="headerContents">
        <div id="logoBox">
            <div id="logo"></div>
        </div>
        <div id="titleBox">
          <h1 class="title">Baby Seal Club</h1>
          <h5 class="subtitle">Home to sarcasm and bad behavior.</h5>
        </div>
      </div>
    </div>
    <div id="content">
        <p> Welcome to Baby Seal Club. If you weren't sent here by a member, then you'll probably be disappointed by your visit.</p>
      </div>
      <div id="contentCurtain"></div>
  </body>
</html>
